Overweight Tips:
1.  Eat a high-protein breakfast. Eating a high-protein breakfast has been shown to reduce cravings and calorie intake throughout the day.
2.  Avoid sugary drinks and fruit juice. These are the most fattening things you can put into your body, and avoiding them can help you lose weight.
3.  Drink water a half hour before meals. One study showed that drinking water a half hour before meals increased weight loss by 44% over 3 months.
4.  Choose weight loss-friendly foods (see list). Certain foods are very useful for losing fat. 
5.  Eat soluble fiber. Studies show that soluble fibers may reduce fat, especially in the belly area. Fiber supplements like glucomannan can also help 
6.  Drink coffee or tea. If you’re a coffee or a tea drinker, then drink as much as you want as the caffeine in them can boost your metabolism by 3-11%.
7.  Eat mostly whole, unprocessed foods. Base most of your diet on whole foods. They are healthier, more filling and much less likely to cause overeating.
8.  Eat your food slowly. Fast eaters gain more weight over time. Eating slowly makes you feel more full and boosts weight-reducing hormones
9.  Use smaller plates. Studies show that people automatically eat less when they use smaller plates. Strange, but it works.
10. Get a good night’s sleep, every night. Poor sleep is one of the strongest risk factors for weight gain, so taking care of your sleep is important.